body {
    margin: 20px;
    font-family: Helvetica;
    text-shadow: 2px 2px #263D42;
}

.avatar {
    width: 150px;
    
}


.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #8E6C88;
    color: #CCDBDC;
    border-bottom: 6px solid #63C7B2;
    border-right: 6px solid #263D42;
    border-left: 6px solid #263D42;
    border-top: 6px solid #63C7B2;
}

.border-blue {
    border: 1px dotted blue;
}


